<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ceda-auth-filter</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
  	<filter-name>AuthenticateRedirectFilter</filter-name>
  	<filter-class>uk.ac.ceda.authentication.filter.AuthenticateRedirectFilter</filter-class>
  	<init-param>
  		<param-name>authenticateUrl</param-name>
  		<param-value>https://auth.ceda.ac.uk/</param-value>
  	</init-param>
  	<init-param>
  		<param-name>redirectQuery</param-name>
  		<param-value>r</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>AuthenticateRedirectFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>